body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteiner{
    width: 450px;
    height: 600px;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-width: 2px;
    border-style: solid;
}

.titulo{
    position: absolute;
    z-index: 1;
    color: #ffffff;
}

.imgbebe{
    position: absolute;
    z-index: 0;
    width: 80%;
    height: 80%;
    opacity: 1;
}

input{
    height: 25px;
    border-radius: 10px;
    width: 80px;
}

select{
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.div1{
    position: relative;
    width: 100%;
    height: 250px;
    align-items:center;
    display: flex;
    justify-content: center;
    background-color: rgb(55, 104, 196);
}

.respostadata{
    color: black;
    width: 100%;
    height: 100px;
    border: 2px solid;
    border-color: black;
}

.botaoidade{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color:rgb(55, 104, 196);
    color: white;
}

.spandata{
    color: rgb(55, 104, 196);
}
